{% include "store/base.html" %}
{% load static %}




{% block content %}

<style>


        body {
            background: linear-gradient(to right, #74ebd5, #ACB6E5);
            min-height: 100vh;
        }
    </style>

<body>
    <br><br><br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <div class="text-center">
            <i class="fa fa-envelope"></i>
            <h5><strong>A verification email is sent to you !</strong> </h5>
        <p> please check your email and verify your account</p>
      
    </div>
</body>
{% endblock %}