{% include "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <style>


        body {
            background: linear-gradient(to right, #74ebd5, #ACB6E5);
            min-height: 100vh;
        }
    </style>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="bg-white shadow-md p-5 rounded form-layout">
                    <h3>Password Reset Sent</h3>
                    <hr>
                    <p>  we have emailed the instructions to change your password!
                        Please check your inbox. If you do not receive the email within a few minutes, please check your spam folder.
                    </p>
                </div>
            </div>
        </div>

    

{% endblock %}