{% include "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <style>
        body {
            background: linear-gradient(to right, #74ebd5, #ACB6E5);
            min-height: 100vh;
        }
    </style>

    <body>
        <br> <br>
        <div class="container bg-white shadow-md p-5 form-layout">
            <h5 class="mb-3">Password Reset Successful</h5>
            <hr>
            <p>Your password has been reset successfully. You can now log in with your new password.</p>
            <a class="btn btn-primary navbar-btn text-white" type="button" href="{% url 'my-login' %}"> Login </a>
        </div>
        <br> <br>
    </body>

{% endblock %}