{% include "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <style>


        body {
            background: linear-gradient(to right, #74ebd5, #ACB6E5);
            min-height: 100vh;
        }
    </style>

    <br> <br> <br> 
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="bg-white shadow-md p-5 rounded form-layout">

                <h3 class="mb-3">ACCOUNT DELETION</h3>
                <hr>

                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    <p>Are you sure you want to delete your account? This action cannot be undone.</p>
                    <button type="submit" class="btn btn-danger w-100 mt-3">Delete Your Account</button>

                </form>
                <a href="{% url 'profile-management' %}" class="btn btn-primary w-100 mt-3">
                    Go Back
                </a>

            </div>

        </div>
    </div>
</div>
<br> <br> <br> 
{% endblock %}
