{% include "store/base.html" %}
{% load static %}




{% block content %}

<style>


        body {
            background: linear-gradient(to right, #74ebd5, #ACB6E5);
            min-height: 100vh;
        }
    </style>

<body>
    <br><br><br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <div class="text-center">
            <i class="fa fa-check text-success" aria-hidden="true"></i>
            <h5><strong>your payment is Successful !</strong> </h5>
        
      
    </div>
</body>
{% endblock %}